<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active':app.mobileMenuActive}">
    <ul class="layout-menu" (click)="app.hideMobileMenu($event)">
        <li>
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-globe"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/attendance']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-check"></i>
                <span>Atendimentos</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/clinic']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-table"></i>
                <span>Clínicas</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/panels']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-columns"></i>
                <span>Panel</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/overlays']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-window-maximize"></i>
                <span>Overlay</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/menus']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/charts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-pie-chart"></i>
                <span>Gráficos</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/file']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-folder"></i>
                <span>File</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/messages']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-comments"></i>
                <span>Mensagens</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/misc']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-gear"></i>
                <span>Configurações</span>
            </a>
        </li>
    </ul>

    <a href="https://www.primefaces.org/store" class="unlock-btn">
        <i class="fa fa-unlock"></i>
        <span>UNLOCK DESIGNER</span>
    </a>
</div>