<div class="content-section implementation">
  <p-toast></p-toast>

  <div class="card">
    <!-- style="transform: scale(0.8); -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar"
          class="p-mr-2 p-d-inline-block"></p-fileUpload>
        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="Nova" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="openNew()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedClinics()"
          [disabled]="!selectedClinics || !selectedClinics.length"></button>
      </ng-template>
    </p-toolbar>
    <p-table #dt [value]="clinics" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedClinics"
      [rowHover]="true" dataKey="clinicId"
      currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} clínicas" [showCurrentPageReport]="true"
      [resizableColumns]="true" [autoLayout]="true" tableStyleClass="prime-table">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Clínicas</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Procurar..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name">Nome<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th class="no-white-space" pSortableColumn="percentage">Porcentagem<p-sortIcon field="percentage">
            </p-sortIcon>
          </th>
          <th class="no-white-space">Telefone</th>
          <th class="no-white-space">Endereço</th>
          <th class="no-white-space">Observações</th>
          <th class="no-white-space"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-clinic>
        <tr>
          <td>
            <p-tableCheckbox [value]="clinic"></p-tableCheckbox>
          </td>
          <td>{{clinic.name}}</td>
          <td>{{clinic.percentage}}</td>
          <td>{{clinic.phone}}</td>
          <td>{{clinic.address}}</td>
          <td>{{clinic.comments}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
              (click)="editClinic(clinic)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteClinic(clinic)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Existem {{clinics ? clinics.length : 0 }} clínicas cadastradas.
        </div>
      </ng-template>
    </p-table>
  </div>

  <!-- Novo ou editar -->
  <p-dialog [(visible)]="clinicDialog" [style]="{width: '450px'}" header="Detalhes da Clínica" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Nome</label>
        <input type="text" pInputText id="name" [(ngModel)]="clinic.name" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !clinic.name">Nome é obrigatório.</small>
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="percentage">Porcentagem Padrão</label>
          <p-inputNumber id="percentage" [(ngModel)]="clinic.percentage">
          </p-inputNumber>
        </div>
        <div class="p-field p-col">
          <label for="phone">Telefone</label>
          <input type="text" pInputText id="phone" [(ngModel)]="clinic.phone" />
        </div>
      </div>
      <div class="p-field">
        <label for="address">Endereço</label>
        <textarea autoResize="false" id="address" pInputTextarea [(ngModel)]="clinic.address" required rows="2"
          cols="20"></textarea>
      </div>
      <div class="p-field">
        <label for="comments">Observação</label>
        <textarea autoResize="false" maxlength="148" id="comments" pInputTextarea [(ngModel)]="clinic.comments" required
          rows="3" cols="20"></textarea>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveClinic()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
