<div class="content-section implementation">
  <p-toast></p-toast>

  <div class="card">
    <!-- style="transform: scale(0.8); -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar"
          class="p-mr-2 p-d-inline-block"></p-fileUpload>
        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="Nova" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="openNew()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedAttendances()"
          [disabled]="!selectedAttendances || !selectedAttendances.length"></button>
      </ng-template>
    </p-toolbar>
    <p-table #dt [value]="attendances" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedAttendances"
      [rowHover]="true" dataKey="attendanceId"
      currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} atendimentos"
      [showCurrentPageReport]="true" [resizableColumns]="true" [autoLayout]="true" tableStyleClass="prime-table">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Atendimentos</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Procurar..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name">Assunto<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th class="no-white-space" pSortableColumn="status">Status<p-sortIcon field="status">
            </p-sortIcon>
          </th>
          <th class="no-white-space" pSortableColumn="percentage">Porcentagem<p-sortIcon field="percentage">
            </p-sortIcon>
          </th>
          <th class="no-white-space">Tipo de Pagamento</th>
          <th class="no-white-space">Valor</th>
          <th class="no-white-space">Valor Pago</th>
          <th class="no-white-space"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-attendance>
        <tr>
          <td>
            <p-tableCheckbox [value]="attendance"></p-tableCheckbox>
          </td>
          <td>{{attendance.name}}</td>
          <td>{{getStatus(attendance.status)}}</td>
          <td>{{attendance.percentage}}</td>
          <td>{{getTypeOfPayment(attendance.typeOfPayment)}}</td>
          <td>{{attendance.amount}}</td>
          <td>{{attendance.amountPaid}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
              (click)="editAttendance(attendance)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteAttendance(attendance)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Existem {{attendances ? attendances.length : 0 }} atendimentos cadastrados.
        </div>
      </ng-template>
    </p-table>
  </div>

  <!-- Novo ou editar -->
  <p-dialog [(visible)]="attendanceDialog" [style]="{width: '650px'}" header="Detalhes do atendimento" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Assunto</label>
        <input type="text" pInputText id="name" [(ngModel)]="attendance.name" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !attendance.name">Assunto é obrigatório.</small>
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="clinic">Clínica</label>
          <p-dropdown appendTo="body" id="clinic" [options]="clinics" optionLabel="name" [(ngModel)]="selectedClinic"
            [filter]="true" filterBy="label,value.name" placeholder="Selecione a clínica"></p-dropdown>
        </div>
        <div class="p-field p-col">
          <label for="typeOfPayment">Forma de Pagamento</label>
          <p-dropdown appendTo="body" [options]="typeOfPayment" optionLabel="value" [(ngModel)]="selectedTypePayment"
            placeholder="Obrigatório" [showClear]="false" (onChange)="onChangeTypeOfPayment()"></p-dropdown>
        </div>
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="amount">Valor</label>
          <p-inputNumber id="amount" placeholder="R$" [(ngModel)]="attendance.amount" mode="currency" currency="BRL"
            locale="pt-BR"></p-inputNumber>
        </div>
        <div class="p-field p-col">
          <label for="amount">Valor Pago</label>
          <p-inputNumber id="amountPaid" placeholder="R$" [(ngModel)]="attendance.amountPaid" mode="currency"
            currency="BRL" locale="pt-BR"></p-inputNumber>
        </div>
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="status">Status</label>
          <p-dropdown appendTo="body" [options]="status" optionLabel="value" [(ngModel)]="selectedStatus"
            placeholder="Selecione o status" [showClear]="false"></p-dropdown>
        </div>
        <div class="p-field p-col">
          <label for="percentage"> Minha Porcentagem</label>
          <p-inputNumber placeholder="%" id="percentage" [(ngModel)]="attendance.percentage" suffix="%"></p-inputNumber>
        </div>
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label style="color:white">Ajustar Parcelas</label>
          <button [disabled]="!showInstallmentBtn" type="button" (click)="handleInstallmentDialog()" pButton
            icon="pi pi-bars" label="Ajustar Parcelas"></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
        (click)="saveAttendance()"></button>
    </ng-template>
  </p-dialog>

    <app-installment 
    *ngIf="installmentDialog"
    [attendance]="attendance"
    (unselect)="handleInstallmentDialog()"
    (outPutSelectedInstallments)="saveInstallments($event)"
    >
    </app-installment>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>